<%- include('../partials/header.ejs') %>
<!-- <div class="dashboard">
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet facilis corporis exercitationem maiores aspernatur aperiam quas debitis mollitia soluta sunt totam assumenda tempore odit ratione minima consequatur, laboriosam molestiae a.</p>
        <div class="likeDate">
            <span>12/12/2024</span>
            <div>
            <span>Likes 50</span>
            <span><i class="fa-regular fa-heart"></i></span>
            </div>
        </div>
    </div>
    
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet facilis corporis exercitationem maiores aspernatur aperiam quas debitis mollitia soluta sunt totam assumenda tempore odit ratione minima consequatur, laboriosam molestiae a.</p>
        <div class="likeDate">
            <span>12/12/2024</span>
            <div>
            <span>Likes 50</span>
            <span><i class="fa-regular fa-heart"></i></span>
            </div>
        </div>
    </div>
    
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet facilis corporis exercitationem maiores aspernatur aperiam quas debitis mollitia soluta sunt totam assumenda tempore odit ratione minima consequatur, laboriosam molestiae a.</p>
        <div class="likeDate">
            <span>12/12/2024</span>
            <div>
            <span>Likes 50</span>
            <span><i class="fa-regular fa-heart"></i></span>
            </div>
        </div>
    </div>
    
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet facilis corporis exercitationem maiores aspernatur aperiam quas debitis mollitia soluta sunt totam assumenda tempore odit ratione minima consequatur, laboriosam molestiae a.</p>
        <div class="likeDate">
            <span>12/12/2024</span>
            <div>
            <span>Likes 50</span>
            <span><i class="fa-regular fa-heart"></i></span>
            </div>
        </div>
    </div>
    
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet facilis corporis exercitationem maiores aspernatur aperiam quas debitis mollitia soluta sunt totam assumenda tempore odit ratione minima consequatur, laboriosam molestiae a.</p>
        <div class="likeDate">
            <span>12/12/2024</span>
            <div>
            <span>Likes 50</span>
            <span><i class="fa-regular fa-heart"></i></span>
            </div>
        </div>
    </div>
    
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet facilis corporis exercitationem maiores aspernatur aperiam quas debitis mollitia soluta sunt totam assumenda tempore odit ratione minima consequatur, laboriosam molestiae a.</p>
        <div class="likeDate">
            <span>12/12/2024</span>
            <div>
            <span>Likes 50</span>
            <span><i class="fa-regular fa-heart"></i></span>
            </div>
        </div>
    </div>
</div> -->









<div class="dashboard">
  <% if (notes && notes.length > 0) { %>
      <% for(let i = 0; i < notes.length; i++) { %> 
          <div class="content" style="background-color:<%= notes[i].color %>">
              <p>
                  <%= notes[i].quotes %>
              </p>
              <div class="likeDate">
                  <span><%= new Date(notes[i].postAt).toLocaleDateString() %></span>
                  <div>
                      <span>Likes <%= notes[i].likes.length %></span>
                      <span>
                          <i class="fa-regular fa-heart like-button <%= notes[i].likes.includes(user._id) ? 'liked' : '' %>" data-id="<%= notes[i]._id %>"></i>
                      </span>
                  </div>
              </div>
          </div>
      <% } %>
  <% } %>
</div>







<%- include('../partials/footer.ejs') %>